{% load i18n %}
<form action="{% url 'set_language' %}" method="post" class="language-switcher">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.path }}">
    <select name="language" onchange="this.form.submit()" class="language-select">
        {% get_current_language as CURRENT_LANGUAGE %}
        {% get_available_languages as LANGUAGES %}
        {% for language_code, language_name in LANGUAGES %}
            <option value="{{ language_code }}" {% if language_code == CURRENT_LANGUAGE %}selected{% endif %}>
                {{ language_name|upper }}
            </option>
        {% endfor %}
    </select>
</form>




















